#visible{
    overflow: visible;
}

.box{
    width: 500px;
    height: 400px;
    border: 2px solid black;
    margin-bottom:200px;
    padding: 10px;
    background-color: aquamarine;
    border-radius: 20px;
}

#hidden{
    overflow: hidden;
}

#scroll{
    overflow: scroll;
}

#auto{
    overflow: auto;
}