body {

    margin: 0;
    padding: 0 10px 40px;
}

header,
footer {
    text-align: center;

}

nav a {
    margin: 0 10px;
    text-decoration: none;

}

main {
    max-width: 900px;
    margin: 0 auto;
}

section {
    margin: 30px 0;
}





ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

.price {
    float: right;
    font-weight: bold;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 10px 0;
}

fieldset {
    border: 1px solid black;
    padding: 10px;
}

legend {
    font-weight: bold;

}

#offer {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 20px 0;
    background: #f9f9f9;
}

footer a {
    text-decoration: none;
}



img {
    height: 70px;
    width: 70px;
}