body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;

    color: #222;

    /* dont get it */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    border: 1px solid #e6e9ee;
    margin-bottom: 30px;
    position: sticky;
    top: 0;

    /* z-index: 10; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.subt {
    margin: 0;
    font-size: 14px;
    color: rgb(107, 99, 154)
}

.title {

    margin: 0;
    font-size: 25px;
    color: #1e90ff;
}

nav a:hover {
    background-color: aquamarine;
}

nav a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 4px;
    border-radius: 4px;
}

.container {
    background: var(--card);
    border: 1px solid #e6e9ee;

    margin-left: 30px;
    margin-right: 30px;
    border-radius: 6px;

}

.heading {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 20px;
    color: #003366;
}

.info {
    font-size: 16px;
    margin-top: 5px;


}

table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 5px;
}


th {
    border: 1px solid #f1f1f1;
    padding: 8px;
}

td {
    border: 1px solid #f1f1f1;
    /* text-align: center; */
    padding: 8px;
}

tr:nth-child(ODD),
th {
    background-color: #dddddd15;
}

tr:hover td {
    background: #eef5ff;
}

footer {

    margin-top: auto;



}