body {
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;


}
legend{
    font-weight: bold;
   font-size: 18px;

}
fieldset{
  border:2px solid #e6e9ee;
  margin:30px;
  margin-left: 100px;
  margin-right: 100px;
  border-radius:10px;
}

.grid{ display: grid; gap: 16px; }
.grid-2{ grid-template-columns: repeat(2, 1fr); }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="date"],
input[type="number"],
select,
textarea{
  width: 70%;
  padding: 4px;
  font: inherit;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px;
 
}

.actions{
    display: inline-block;
    padding:60px;
    margin-left: 110px;
    gap:10px;
}



