.body{
    font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;
    background-color: #f4f7fa;
    margin: 20px;
}
.profile{
    margin:auto;
    border: 1px solid #e6e9ee;
    width: 500px;
    padding: 20px;
    border-radius: 6px;
    background-color: #e0f0ff;
}

header{
    background-color: #e0f0ff;
    border: 1px solid #e6e9ee;
    margin-bottom: 20px;
    border-radius: 12px;

}

.profile-img{
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.06);
    float: right;
    margin: 0px;
}

footer {
    
    text-align: center;
    
}